{% extends "base.twig" %}

{% block title %}Profile Page
{% endblock %}

{% block content %}
	<html>

		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="author" content="Laia Abad i Silvia Miralles">
			<meta name="description" content="Friend List">
			<title>LSteam</title>
		</head>

		<body>
			<header>
				<div id="navigation">
					<div id="left">
						<a href="/" id="icon">LSteam</a>
						<a href="/store">Store</a>
					</div>

					<div id="right">
						<form action="{{ logout }}" method="POST" accept-charset="utf-8">
							<button type="submit" class="logout">Logout</button>
						</form>
						<div class="dropdown">
							<button id="profile">
								<a href="/profile"><img src='{{ full_url_for('home') }}assets/{% if credentials.picture %}uploads/{{ credentials.picture }} {% else %}images\no_user.jpg {% endif %}' alt='placeholder' width='32' height='32'>
									{{ credentials.username }}</a>
							</button>
							<div class="dropdown-content">
								<a href="/profile">Profile</a>
								<a href="/user/wallet">Wallet</a>
								<a href="/user/myGames">My Games</a>
								<a href="/user/wishlist">Wishlist</a>
								<a href="/user/friends">Friends</a>
							</div>
						</div>
					</div>
				</div>
			</header>
			<main>

				<h1>
					Friend List
				</h1>

				{% if friends %}
					{% for friend in friends %}
						<div class="row">
							<br>
							<p>{{  friend.name }}</p>
							<p>{{  friend.accept_date }}</p>
							<br>
						</div>
						<br>
					{% endfor %}
				{% else %}
					<p>
						You don't have any friends.
					</p>
				{% endif %}
				<br>
				<a class="fake-btn" href="/user/friendRequests">Friend Requests</a>

			</main>
			<footer>
				<p>
					© 2021 LaSalle Corporation. All rights reserved. All trademarks are property of their respective owners in
																																					Spain and other countries.
																																					VAT included in all prices where applicable.
				</p>
				<p id="separators">
					<a href="/" class="footer">Home</a>
					|
					<a href="/store" class="footer">Store</a>
					|
					<a href="/logout" class="footer">Logout</a>
					|
					<a href="/profile" class="footer">Profile</a>
					|
					<a href="/user/wallet" class="footer">Wallet</a>
					|
					<a href="/user/myGames" class="footer">My Games</a>
					|
					<a href="/user/wishlist" class="footer">Wishlist</a>
					|
					<a href="/user/friends" class="footer">Friends</a>
				</p>
			</footer>
		</body>
	</html>

{% endblock %}
